html {
    zoom: 0.8;
    background: #000 !important;
}

@media screen and (max-width: 767px) {
    html {
        zoom: 1 !important;
    }
}

body, #__next, main {
    height: auto !important;
    min-height: unset !important;
    overflow-x: hidden !important;
    overflow-y: auto !important;
    margin: 0 !important;
    padding: 0 !important;
    background: #000 !important;
}

* {
    box-sizing: border-box;
}

body {
    margin:0;
    overflow-x: hidden;
}

.login-zoom {
    zoom: 0.8;
    background: #000 !important;
    border-radius: 20px;
    box-shadow: 0 2px 16px #0008;
    border: 1.5px solid #222;
    padding: 2.5rem 2rem;
    max-width: 420px;
    width: 100%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: #fff;
}

@media screen and (max-width: 767px) {
    .login-zoom {
        zoom: 1 !important;
    }
} 